
.icon-camera:before { content: '\e800'; } /* '' */
.icon-user-add:before { content: '\e801'; } /* '' */
.icon-heart:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-cancel-squared:before { content: '\e804'; } /* '' */
.icon-download:before { content: '\e805'; } /* '' */
.icon-reply-all:before { content: '\e806'; } /* '' */
.icon-reply:before { content: '\e807'; } /* '' */
.icon-forward:before { content: '\e808'; } /* '' */
.icon-quote:before { content: '\e809'; } /* '' */
.icon-code:before { content: '\e80a'; } /* '' */
.icon-cog:before { content: '\e80b'; } /* '' */
.icon-down-dir:before { content: '\e80c'; } /* '' */
.icon-up:before { content: '\e80d'; } /* '' */
.icon-right:before { content: '\e80e'; } /* '' */
.icon-left:before { content: '\e80f'; } /* '' */
.icon-down:before { content: '\e810'; } /* '' */
.icon-signal:before { content: '\e811'; } /* '' */
.icon-list-add:before { content: '\e812'; } /* '' */
.icon-list:before { content: '\e813'; } /* '' */
.icon-twitter:before { content: '\e814'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-tumblr:before { content: '\f173'; } /* '' */
.icon-tumblr-squared:before { content: '\f174'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-wikipedia-w:before { content: '\f266'; } /* '' */
.icon-snapchat:before { content: '\f2ab'; } /* '' */
.icon-address-card:before { content: '\f2bb'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
.icon-ravelry:before { content: '\f2d9'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */