:root {
  --main-color: #FF9800;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #222;
  background-color: #fff;
}

[data-font="open-sans"] {
  font-family: "Open Sans", sans-serif;
}

[data-font="secondFont"] {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

[data-font="thirdFont"] {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.light {
  --switch-color: rgb(216, 216, 216);
  --background-color-alternate: rgb(30,30,30);
}

.dark {
  --switch-color: rgb(68, 68, 68);
  --background-color-alternate: rgb(245, 245, 245);
}

.SwitchControl {
  border-radius: 100px;
  background: var(--switch-color);
  width: 50px;
  height: 24px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  margin-top: 10%;
  margin-left: 30%;
}

.SwitchControl .SwitchControl--slider {
  width: 100px;
  height: 100%;
  position: absolute;
  top: 0;
  left: calc(50% - 50px * 1);
  -webkit-transition: all 0.3s cubic-bezier(0.56, 0.045, 0, 1) !important;
  transition: all 0.3s cubic-bezier(0.56, 0.045, 0, 1) !important;
}

.SwitchControl .SwitchControl--slider .SwitchControl--knob {
  width: 20px;
  height: 20px;
  background: #707070;
  position: absolute;
  left: calc(50% - 10px * 1);
  top: 2px;
  border-radius: 100px;
}

.SwitchControl .SwitchControl--slider .SwitchControl--icon_left, .SwitchControl .SwitchControl--slider .SwitchControl--icon_right {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 5px;
}

.SwitchControl .SwitchControl--slider .SwitchControl--icon_left *, .SwitchControl .SwitchControl--slider .SwitchControl--icon_right * {
  fill: var(--background-color-alternate) !important;
}

.SwitchControl .SwitchControl--slider .SwitchControl--icon_left {
  left: 18px;
}

.SwitchControl .SwitchControl--slider .SwitchControl--icon_right {
  right: 18px;
}

.SwitchControl.on .SwitchControl--slider {
  -webkit-transform: translateX(13px);
          transform: translateX(13px);
}

.SwitchControl.off .SwitchControl--slider {
  -webkit-transform: translateX(-13px);
          transform: translateX(-13px);
}

.darkMode {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.darkMode img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.darkMode .setting-box .option-box {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.darkMode .setting-box .option-box h4 {
  color: #fff !important;
}

.darkMode .setting-box .option-box h3 {
  color: #fff !important;
}

.darkMode .setting-box .option-box h2 {
  color: #fff !important;
}

.darkMode .landing-page {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.darkMode .landing-page .links-container .open {
  -webkit-filter: revert;
          filter: revert;
}

.darkMode h3 {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.darkMode .skill-box .skill-progress {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.darkMode .open {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.darkMode .colors-list {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.darkMode .contact .overlay {
  -webkit-filter: none;
          filter: none;
}

.darkMode .footer {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.darkMode #test {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px #d1d1d1;
          box-shadow: inset 0 0 0px #d1d1d1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

.popup-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
}

.popup-box {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #Fff;
  border: 1px Solid #ccc;
  padding: 20px;
  z-index: 1001;
}

@media (max-width: 575px) {
  .popup-box {
    width: 80%;
  }
}

.popup-box h3 {
  font-weight: bold;
  text-align: center;
  margin: 0 0 20px;
  color: var(--main-color);
}

.popup-box img {
  max-width: 100%;
}

.popup-box .close-button {
  position: absolute;
  top: -15px;
  right: -15px;
  background-color: var(--main-color);
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  font-family: Arial, tahoma;
  border-radius: 50%;
}

.container {
  /*  width: 1170px; */
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

/*Setting-box*/
.setting-box {
  position: fixed;
  left: 0;
  top: 10%;
  background: #f1f1f1;
  width: 200px;
  z-index: 1000;
  /*  min-height: 100vh; */
  -webkit-transition: 1s;
  transition: 1s;
  padding-bottom: 10px;
}

@media (max-width: 991px) {
  .setting-box {
    top: 9%;
  }
}

@media (max-width: 767px) {
  .setting-box {
    /*   min-height: 73.5vh; */
    top: 3.6em;
  }
}

@media (max-width: 576px) {
  .setting-box {
    /*   min-height: 73.5vh; */
    top: 6em;
  }
}

.setting-box.open {
  left: -200px;
}

.setting-box .toggle-setting {
  position: absolute;
  right: -30px;
  top: 6em;
  background: #fff;
  border-radius: 0px 5px 5px 0;
  text-align: center;
  cursor: pointer;
  padding: 7px 0;
}

.setting-box .toggle-setting i {
  width: 30px;
}

.setting-box .setings {
  position: relative;
  margin-left: 17px;
}

.setting-box .setings h2 {
  padding: 0;
  margin: 0;
  margin-top: 7px;
}

.setting-box .setings h2::after {
  position: absolute;
  content: "";
  height: 3px;
  bottom: -12px;
  left: -9px;
  /* right: -10px; */
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  /* BACKGROUND-COLOR: #218a67; */
  background: linear-gradient(70deg, #ff9800, #e92463, #019688, #4caf50, #4caf50);
}

.setting-box .settings-container {
  color: #fff;
}

.setting-box .settings-container .option-box {
  /*  padding: 10px; */
  text-align: center;
  /* background: #66c9d652; */
  /*  border-radius: 5px; */
  margin: 6px;
}

@media (max-width: 576px) {
  .setting-box .settings-container .option-box .bullets-option {
    display: none;
  }
}

.setting-box .settings-container .option-box .close {
  display: none;
}

@media (max-width: 576px) {
  .setting-box .settings-container .option-box .close {
    background: var(--main-color);
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    opacity: .5;
    cursor: pointer;
  }
}

.setting-box .settings-container .option-box h4 {
  color: #060000;
  font-size: 14px;
}

.setting-box .settings-container .option-box .colors-list {
  list-style: none;
  margin-left: -42px;
}

.setting-box .settings-container .option-box .colors-list li {
  width: 24px;
  height: 24px;
  background-color: #333;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid #ada6a6;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.setting-box .settings-container .option-box .colors-list li.active {
  border-color: #05158a;
}

.setting-box .settings-container .option-box .colors-list li:first-child {
  background-color: #FF9800;
}

.setting-box .settings-container .option-box .colors-list li:nth-child(2) {
  background-color: #E91E63;
}

.setting-box .settings-container .option-box .colors-list li:nth-child(3) {
  background-color: #009688;
}

.setting-box .settings-container .option-box .colors-list li:nth-child(4) {
  background-color: #03A9F4;
}

.setting-box .settings-container .option-box .colors-list li:nth-child(5) {
  background-color: #4CAF50;
}

.setting-box .settings-container .option-box span.active {
  opacity: 1;
}

.setting-box .settings-container .option-box .yes, .setting-box .settings-container .option-box .no {
  width: 50px;
  background: var(--main-color);
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  opacity: .5;
  cursor: pointer;
}

.setting-box .settings-container .option-box .fonts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.setting-box .settings-container .option-box .fonts select {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #fff;
  background-color: var(--main-color);
  width: 200px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.setting-box .settings-container .option-box .darkMode h3 {
  color: black;
  font-size: 14px;
}

.setting-box .settings-container .reset-option {
  background-color: #E91E63;
  border: none;
  width: 178px;
  /* text-align: center; */
  margin: auto;
  display: block;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
}

/*End Setting-box*/
/*Start nav-bullets*/
.nav-bullets {
  position: fixed;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 40px;
  z-index: 999;
}

@media (max-width: 576px) {
  .nav-bullets {
    display: none !important;
  }
}

.nav-bullets .bullet {
  width: 15px;
  height: 15px;
  border: 3px solid var(--main-color);
  margin: 15px auto;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.nav-bullets .bullet:hover .tool-tip {
  display: block;
}

.nav-bullets .bullet:hover {
  background-color: #ddd;
}

.nav-bullets .bullet .tool-tip {
  position: absolute;
  width: 100px;
  background-color: var(--main-color);
  color: #fff;
  right: 32px;
  top: -6px;
  padding: 6px 13px;
  border-radius: 4px;
  cursor: default;
  pointer-events: none;
  display: none;
}

.nav-bullets .bullet .tool-tip::after {
  content: '';
  border-style: solid;
  border-width: 8px;
  border-color: transparent transparent transparent var(--main-color);
  position: absolute;
  height: 0;
  width: 0;
  right: -16px;
  top: 0px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

/* End nav-bullets*/
/*start landig page*/
.landing-page {
  min-height: 100vh;
  background-image: url("../img/001.jpg");
  background-size: cover;
}

.landing-page .overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.landing-page .overlay .header {
  position: relative;
  z-index: 2;
  color: aliceblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.landing-page .overlay .header .logo {
  width: 300px;
  padding: 15px;
  font-weight: bold;
  font-size: 23px;
}

.landing-page .overlay .header .links-container {
  width: 100%;
  text-align: right;
}

.landing-page .overlay .header .links-container .links {
  list-style: none;
  padding-left: 0;
  width: 100%;
  text-align: right;
}

.landing-page .overlay .header .links-container .links li {
  display: inline-block;
  margin-left: 10px;
}

.landing-page .overlay .header .links-container .links a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.landing-page .overlay .header .links-container .links a.active, .landing-page .overlay .header .links-container .links a:hover {
  color: var(--main-color);
}

.landing-page .overlay .header .links-container .toggle-menu {
  border: none;
  background: none;
  width: 40px;
  cursor: pointer;
  margin-top: 1.5em;
  display: none;
  position: relative;
}

.landing-page .overlay .header .links-container .toggle-menu.menu-active::before {
  content: '';
  border-width: 10px;
  position: absolute;
  border-width: 10px;
  border-style: solid;
  bottom: -9px;
  left: 28%;
  border-color: transparent  transparent #fff transparent;
}

.landing-page .overlay .header .links-container .toggle-menu:focus {
  outline: none;
}

.landing-page .overlay .header .links-container .toggle-menu span {
  display: block;
  /* color: #fff; */
  /* width: 100%; */
  background: #fff;
  height: 3px;
  margin-bottom: 4px;
}

.landing-page .introduction {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff;
  text-align: center;
  width: 90%;
  line-height: 2;
  font-size: 18px;
  margin: 0;
}

@media (max-width: 991px) {
  .landing-page .introduction {
    top: 70%;
  }
}

.landing-page .introduction h1 {
  font-size: 1.5em;
  margin: 0 0 9px;
}

.landing-page .introduction h1 span {
  color: var(--main-color);
}

/*meadia*/
@media (max-width: 991px) {
  .landing-page .overlay .container {
    z-index: 1000;
    position: relative;
  }
  .landing-page .overlay .container .header .links-container .links {
    display: none;
  }
  .landing-page .overlay .container .header .links-container .links.open {
    background-color: #ffffff1f;
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 50px;
    width: 18%;
    border-radius: 4px;
    text-align: left;
  }
  .landing-page .overlay .container .header .links-container .links.open li {
    display: block;
    margin: 10px;
  }
  .landing-page .overlay .container .header .links-container .links.open li a {
    color: #fff;
    font-weight: bold;
    -webkit-transition: .7s;
    transition: .7s;
  }
  .landing-page .overlay .container .header .links-container .links.open li a:hover {
    color: #060000;
    padding-left: 2px;
  }
  .landing-page .overlay .container .header .links-container .toggle-menu {
    display: inline-block;
  }
}

@media (max-width: 767px) {
  .landing-page .overlay .container .header .links-container .links {
    display: none;
  }
  .landing-page .overlay .container .header .links-container .links.open {
    left: 56%;
    width: 40%;
  }
  .landing-page .overlay .container .header .links-container .links.open li {
    display: block;
    margin: 10px;
  }
  .landing-page .overlay .container .header .links-container .links.open li a {
    color: #fff;
    font-weight: bold;
    -webkit-transition: .7s;
    transition: .7s;
  }
  .landing-page .overlay .container .header .links-container .links.open li a:hover {
    color: #060000;
    padding-left: 2px;
  }
  .landing-page .overlay .container .header .links-container .toggle-menu {
    display: inline-block;
  }
}

/*End landig page*/
/* Start about us */
.about-us {
  padding-top: 50px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-us .info-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 30px;
}

.about-us .info-box h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 10px;
}

.about-us .info-box p {
  line-height: 1.8;
  color: #777;
  margin: 0;
}

.about-us .image-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.about-us .image-box img {
  width: 250px;
  margin-top: 3em;
}

@media (max-width: 767px) {
  .about-us {
    display: block;
    text-align: center;
  }
  .about-us .info-box {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
  .about-us .imgs-box {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
}

/* ENd about us */
/* Start slills*/
.skills {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
}

.skills h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 50px;
  text-align: center;
}

.skills .skill-box {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  margin: 15px;
}

@media (max-width: 575px) {
  .skills .skill-box {
    display: block;
  }
}

.skills .skill-box .skill-name {
  font-weight: bold;
  width: 140px;
  text-align: center;
  line-height: 30px;
}

@media (max-width: 575px) {
  .skills .skill-box .skill-name {
    width: 100%;
  }
}

.skills .skill-box .skill-progress {
  height: 30px;
  width: 100%;
  background: #f9f9f9;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.skills .skill-box .skill-progress > SPAN {
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  BACKGROUND: var(--main-color);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.skills .skill-box .skill-progress > SPAN small {
  font-weight: bold;
  color: #fff;
  position: absolute;
  right: 0;
  top: 7px;
}

/* End slills*/
/*Start Gallery*/
.gallery {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.gallery h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 50px;
  text-align: center;
}

.gallery .imgs-box {
  text-align: center;
}

.gallery .imgs-box img {
  width: 200px;
  padding: 3px;
  background: #f6f6f6;
  border: 1px solid #ccc;
  margin: 5px;
  cursor: pointer;
}

@media (max-width: 575px) {
  .gallery .imgs-box img {
    width: 325px;
  }
}

/*ENd Gallery*/
/*Start TimeLine*/
.timline {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #eee;
}

.timline h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 50px;
  text-align: center;
}

.timline .timeline-content {
  position: relative;
  overflow: hidden;
}

.timline .timeline-content:before {
  position: absolute;
  content: '';
  width: 2px;
  height: 100%;
  background-color: var(--main-color);
  left: 50%;
  margin-left: -1px;
  top: 0;
}

@media (max-width: 767px) {
  .timline .timeline-content:before {
    display: none;
  }
}

.timline .timeline-content .year {
  margin: 20px auto;
  width: 50px;
  background: var(--main-color);
  position: relative;
  z-index: 2;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  padding: 2px 5px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .timline .timeline-content .year {
    margin: 20px 18px;
  }
}

.timline .timeline-content .left, .timline .timeline-content .right {
  width: calc(50% - 25PX);
  margin-bottom: 40px;
  position: relative;
}

@media (max-width: 767px) {
  .timline .timeline-content .left, .timline .timeline-content .right {
    width: 100%;
    margin-bottom: 20px;
  }
}

.timline .timeline-content .left .content, .timline .timeline-content .right .content {
  padding: 20px;
  background-color: #fff;
}

@media (max-width: 767px) {
  .timline .timeline-content .left .content:after, .timline .timeline-content .right .content:after {
    content: '';
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent #ffff transparent;
    position: absolute;
    height: 0;
    width: 0;
    left: 48.2%;
    text-align: center;
    top: -20px;
  }
}

@media (max-width: 767px) and (max-width: 767px) {
  .timline .timeline-content .left .content:after, .timline .timeline-content .right .content:after {
    left: 7%;
  }
}

@media (max-width: 767px) {
  .timline .timeline-content .left .content h3, .timline .timeline-content .right .content h3 {
    font-weight: bold;
    color: var(--main-color);
    margin: 0 0 10px;
  }
  .timline .timeline-content .left .content p, .timline .timeline-content .right .content p {
    color: #666;
    margin: 0;
    line-height: 1.6;
  }
}

.timline .timeline-content .left .left, .timline .timeline-content .right .left {
  float: left;
}

.timline .timeline-content .left .left:before, .timline .timeline-content .right .left:before {
  content: '';
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: 3px solid var(--main-color);
  position: absolute;
  right: -35px;
  border-radius: 50%;
  top: 20px;
}

@media (max-width: 767px) {
  .timline .timeline-content .left .left:before, .timline .timeline-content .right .left:before {
    display: none;
  }
}

.timline .timeline-content .left .content:before, .timline .timeline-content .right .content:before {
  content: '';
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  height: 0;
  width: 0;
  right: -20px;
  top: 20px;
}

@media (max-width: 767px) {
  .timline .timeline-content .left .content:before, .timline .timeline-content .right .content:before {
    display: none;
  }
}

.timline .timeline-content .right {
  float: right;
}

.timline .timeline-content .right:before {
  content: '';
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: 3px solid var(--main-color);
  position: absolute;
  left: -35px;
  border-radius: 50%;
  top: 20px;
}

.timline .timeline-content .right .content:before {
  content: '';
  border-style: solid;
  border-width: 10px;
  border-color: transparent  #fff transparent transparent;
  position: absolute;
  height: 0;
  width: 0;
  left: -20px;
  top: 20px;
}

/*END TimeLine*/
/* What Clint Says*/
.testim {
  background: url(../img/keyboard.jpg);
  background-size: cover;
  height: 400px;
  position: relative;
  text-align: center;
  padding: 80px 0;
}

.testim .t-overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.6);
}

.testim .t-overlay .container {
  padding-top: 6em;
}

.testim .t-overlay .container h2 {
  margin: 68px 0;
  font-size: 23px;
}

.testim .t-overlay .container .slider div p {
  line-height: 2;
  font-size: 23px;
  color: #9fa7ae;
}

.testim .t-overlay .container .slider div p .q-o {
  position: relative;
}

.testim .t-overlay .container .slider div p .q-o::before {
  content: ",,";
  color: #18BB9E;
  font-size: 25px;
  position: absolute;
  margin: -33px 0 0px -8px;
}

.testim .t-overlay .container .slider div p .q-o::after {
  content: ",,";
  color: #18BB9E;
  font-size: 25px;
  position: absolute;
  top: 26%;
}

.testim .t-overlay .container .slider div span {
  display: block;
  margin: 80px 0;
  color: #18BB9E;
  font-size: 20px;
}

.testim .t-overlay .container .slider div > div {
  display: none !important;
}

.testim .t-overlay .container .slider div.active {
  display: block !important;
}

/* What Clint Says*/
/*Start Fet*/
.features {
  padding-top: 80px;
  padding-bottom: 80px;
}

.features h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 60px;
  text-align: center;
}

.features .container .feat-box {
  width: calc(100% / 3);
  float: left;
  text-align: center;
  margin-bottom: 40px;
}

@media (max-width: 991px) {
  .features .container .feat-box {
    width: calc(100% / 2);
  }
}

@media (max-width: 557px) {
  .features .container .feat-box {
    width: calc(100% / 1);
  }
}

.features .container .feat-box img {
  width: 96px;
  padding: 3px;
  background: #f6f6f6;
  border: 4px solid #ccc;
  margin: 5px;
  border-radius: 50%;
}

.features .container .feat-box h4 {
  font-size: 22px;
  margin: 15px 0 40px;
  position: relative;
}

.features .container .feat-box h4::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 3px;
  background: var(--main-color);
  left: 50%;
  margin-left: -20px;
  bottom: -22px;
}

.features .container .feat-box p {
  width: 80%;
  margin: 0 auto;
  line-height: 1.6;
  color: #706f6f;
}

/*Start features*/
/*Start testimonials*/
.testimonials {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}

.testimonials::before {
  content: '';
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--main-color);
  height: 100%;
  z-index: -1;
}

.testimonials:after {
  content: '';
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #333;
  height: 100%;
  z-index: -1;
}

.testimonials h2 {
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  margin: 0 0 60px;
  text-align: left;
  position: relative;
  z-index: 2;
}

@media (max-width: 767px) {
  .testimonials h2 {
    /* medium Devises => Tablets*/
    text-align: center;
  }
}

.testimonials .boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .testimonials .boxes {
    /* medium Devises => Tablets*/
    display: block;
  }
}

.testimonials .boxes .ts-box {
  position: relative;
  z-index: 2;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #fff;
  padding: 20px;
  font-size: 22px;
  border-radius: 5px;
}

@media (max-width: 767px) {
  .testimonials .boxes .ts-box {
    /* medium Devises => Tablets*/
    margin: 12px 0px;
    /* width: 100%; */
  }
}

.testimonials .boxes .ts-box:not(:last-of-type) {
  margin-right: 1%;
}

@media (max-width: 767px) {
  .testimonials .boxes .ts-box:not(:last-of-type) {
    /* medium Devises => Tablets*/
    margin: 12px 0px;
  }
}

.testimonials .boxes .ts-box > p {
  margin: 0 0 20px;
  line-height: 1.5;
  font-size: 18px;
  color: #707070;
  font-style: italic;
}

.testimonials .boxes .ts-box .preson-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991px) {
  .testimonials .boxes .ts-box .preson-info {
    /* medium Devises => Tablets*/
    text-align: center;
    display: block;
  }
}

.testimonials .boxes .ts-box .preson-info img {
  width: 63px;
  padding: 1px;
  border: 2px solid var(--main-color);
  margin: 5px;
  border-radius: 50%;
  margin-right: 1em;
}

.testimonials .boxes .ts-box h4 {
  margin: 10px 0 10px;
}

.testimonials .boxes .ts-box p {
  color: #777;
  margin: 0;
}

/*EDN testimonials*/
/*Start Contact*/
.contact {
  min-height: 480px;
  background-image: url(/img/contact.gif);
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}

.contact .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(225, 255, 255, 0);
  /* background-color: rgb(255 255 255 / 60%); */
}

.contact .container {
  position: relative;
  z-index: 2;
}

@media (max-width: 767px) {
  .contact .container {
    width: 80%;
  }
}

.contact h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 60px;
  text-align: center;
}

.contact form {
  max-width: 800px;
  margin: auto;
}

.contact form .left {
  float: left;
  width: 47.5%;
}

.contact form .right {
  /* flex:1 */
  float: right;
  width: 47.5%;
}

@media (max-width: 767px) {
  .contact form {
    /* medium Devises => Tablets*/
  }
  .contact form .left, .contact form .right {
    float: none;
    width: 100%;
  }
}

.contact form input:not([type="submit"]), .contact form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  background-color: rgba(218, 218, 218, 0.19);
  border-radius: 4px;
}

.contact form input:not([type="submit"]):focus, .contact form textarea:focus {
  outline: 1px solid var(--main-color);
}

.contact form input:not([type="submit"]):focus::-webkit-input-placeholder, .contact form textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.contact form input {
  height: 20px;
}

.contact form textarea {
  height: 135px;
}

.contact form input[type="submit"] {
  padding: 19px;
  width: 106%;
  border-color: transparent;
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
  line-height: 0.3;
  border-radius: 4px;
}

/*End Contact*/
/*Satrt footer*/
/*End footer*/
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/*Start Go UB*/
#totp {
  position: fixed;
  bottom: 10px;
  background: var(--main-color);
  color: #fff;
  border-radius: 7px;
  padding: 2px;
  right: 0;
  cursor: pointer;
  z-index: 9999;
}

/*Start Go UB*/
/*Frame work*/
.clearfix {
  clear: both;
}

hr {
  width: 80%;
  border: 1px solid #c5c5c5;
}

/*Stat Grid System*/
@media (min-width: 576px) {
  /* Small Devises => lanscape phonse*/
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  /* medium Devises => Tablets*/
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  /* pc Devises*/
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  /* larg screens */
  .container {
    max-width: 1140px;
  }
}

/*End Grid System*/
/*
why i can't handle dark mode on my website ......? Referencing CSS class for Dark Mode
I have this code o

I have this code on my website for running Dark Mode, my problem is specifically in the javascript code: How can I add the class list called dark-mode to handle it with this switch SwitchControl?

This is the code I use:


*/
/*# sourceMappingURL=main.css.map */