$colorWarning: red;
:root {
  --main-color: #FF9800;
}

// fonts 

body {
  font-family: "Open Sans", sans-serif;
/*   color: #222;
	background-color: #fff; */
}

[data-font="open-sans"] {
  font-family: "Open Sans", sans-serif;
}
[data-font="secondFont"] {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
[data-font="thirdFont"] {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

// dark mode 
$size: 1; //Change this factor to upscale/downscale control.
$ease-custom-1: cubic-bezier(0.560, 0.045, 0.000, 1.000);

.light {
  --switch-color: rgb(216, 216, 216);
  --background-color-alternate: rgb(44, 39, 39);
}

.dark {
  --switch-color: rgb(68, 68, 68);
  --background-color-alternate: rgb(245, 245, 245);
}

.SwitchControl { 
  border-radius: 100px * $size;
  background:var(--switch-color);
  width:50px * $size;
  height:24px * $size;
  overflow:hidden;
  cursor:pointer;
  position:relative;
  margin-left: 36%;
  .SwitchControl--slider {
      width:100px * $size;
      height:100%;
      position:absolute;
      top:0;
      left:calc(50% - 50px * #{$size});
      transition:all .3s $ease-custom-1 !important;
      .SwitchControl--knob {
          width: 20px * $size;
          height:20px * $size;
          background:#707070;
          position:absolute;
          left:calc(50% - 10px * #{$size});
          top:2px *$size;
          border-radius:100px *$size;
      }
      .SwitchControl--icon_left, .SwitchControl--icon_right {
          width:14px*$size;
          height:14px*$size;
          position:absolute;
          top:5px*$size;
          * {
              fill:var(--background-color-alternate) !important;
          }
      }
      .SwitchControl--icon_left {
          left:18px*$size;
      }
      .SwitchControl--icon_right {
          right:18px*$size;
      }
  }

  &.on {
      .SwitchControl--slider {
          transform:translateX(13px * $size);
      }
  }
  &.off {
      .SwitchControl--slider {
          transform:translateX(-13px * $size);
      }
  }
}
/* .darkMode{

  body{
    background-color: gainsboro;
  }
  .timline{
    .content{
      background-color:#e4e4e4 !important;
    }
  }

filter: invert(100%);
.about-us,.skills,.gallery,.timline,.features,.contact{

  h2{
    filter: invert(100%);
  }

}

.testimonials {
  &::after {
    filter: invert(100%);
  }
}

img {
  filter: invert(1);
}
.setting-box {
  .option-box {
    filter: invert(100%);
    h4{
      color: #fff !important;
    }
    h3 {
      color: #fff;
      filter: invert(100%);
    }
    h2{
      color: #fff !important; 
    }
  }
}
.landing-page {
  filter: invert(100%);
 .links-container .open {
  filter: invert(100%);
 }
}

.skill-box{
  .skill-progress {
    filter: invert(100%);
  }
}

.contact {
  .overlay{
    filter: none;
  }
}
.footer{
  filter: invert(100%);
}
#test {
  filter: invert(100%);
}
#totp{
  filter: invert(100%);
}
} */
//end dark mode

//scroll style 
/* width */
::-webkit-scrollbar {
  width: 5px;
} 

/* Track */
 ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px rgb(209, 209, 209); 
 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:  var(--main-color);

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1b2c01; 
}
//scroll style 
.popup-overlay{
  position: fixed;
  background-color: rgba(0,0,0, .7);
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1000 ;

}
.popup-box{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #Fff;
  border: 1px Solid #ccc;
  padding: 20px;
  z-index: 1001;
  @media (max-width: 575px) {
    width: 80%;
  }
  h3{
    font-weight: bold; 
    text-align: center;
    margin: 0 0 20px;
    color: var(--main-color);

  }
  img{
    max-width: 100%;
  }
  .close-button {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: var(--main-color);
    width: 40px;
    height: 40px;
    text-align: center;
    font-size:20px;
    line-height: 40px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    font-family: Arial, tahoma;
    border-radius: 50%;
  }
}

.container{ 
 /*  width: 1170px; */
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

/*Setting-box*/

.setting-box {
  position: fixed;
  left: -200px;
  top: 0;
  width: 200px;
  z-index: 99999;
  min-height: 100vh;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  /* 
   */
  /* border: 0px solid rgb(255 255 255 / 15%); */
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 13px #565c61;
  @media (max-width: 575px) {
   /*  min-height: 0; */
  }
  .toggle-setting {
    position: absolute;
    right: -30px;
    top: 12em;
    background: #040404;
    border-radius: 0px 5px 5px 0;
    text-align: center;
    cursor: pointer;
    padding: 5px 0;
    i {
      width: 30px;
      font-size: 20px;
      color: #fff;
    }
  }
  .setings {
    position: relative;
    margin-left: 17px;
    h2{
      padding: 0; 
      margin: 0;
      margin-top: 7px;
      &::after{
        position: absolute;
        content: "";
        height: 3px;
        bottom: -6px;
        left: -9px;
        /* right: -10px; */
        border-radius: 10px;
        cursor: pointer;
        width: 100%;
        /* BACKGROUND-COLOR: #218a67; */
        background: linear-gradient(70deg, #ff9800, #e92463, #019688, #4caf50, #4caf50);
    }
    }

  }
  .settings-container {
    color: #fff;
    .option-box{
      position: relative;
      /* padding: 10px; */
      /* text-align: center; */
      /* background: #66c9d652; */
      /* border-radius: 5px; */
      margin: 19px;
      .bullets-option {
        @media (max-width: 576px) {
          display: none;
        }
      }
      .close {
        display: none;
        @media (max-width: 576px) {
          background: var(--main-color);
          padding: 5px 10px;
          color: #fff;
          border-radius: 5px;
          display: inline-block;
          font-size: 13px;
          font-weight: bold;
          opacity: .5;
          cursor: pointer;
        }
      }
        span{
          color: #060000;
          font-size: 14px;
          position: relative;
          background: #FFF;
          Z-INDEX: 2;
            @media (max-width: 576px) {
              margin-bottom: 6px;
              margin-top: 11px;
            }
        }
   
    .colors-list{
        list-style: none;
        margin-left: -42px;
        margin-top: 0;
        margin-bottom: 0;
        @media (max-width: 576px) {
          margin-bottom: -5px;
        }
        li{
          width: 20px;
          height: 20px;
          background-color: #333;
          border-radius: 50%;
          cursor: pointer;
          border: 1px solid #f1f1f1;
            display: inline-flex;
            &.active{
             border-color:#05158a;
            }
            &:hover{
              border-color:#05158a;
            }
        }
        li:first-child{
            background-color: #FF9800;
        }
        li:nth-child(2){
            background-color: #E91E63;
        }
        li:nth-child(3){
            background-color:#009688;
        }
        li:nth-child(4){
            background-color: #03A9F4;
        }
        li:nth-child(5){
            background-color:#4CAF50;
        }
        li:nth-child(6){
          background-color:#9c27b0;
      }
  }
  .photo-list {
    margin-left: -23%;
    margin-top: 5px;
    margin-bottom: -7px;
    li {
      display: inline-block;
      background: #b3b3b3;
      padding: 6px;
      cursor: pointer;
      opacity: .5;
      border-radius: 5px;
      color: #020000;
      &.active{
        opacity: 1;
        border: 1px solid var(--min--color);
      }
    }
  }
  span.active{
    opacity: 1;
  }
  .yes,.no{
    width: 50px;
    background: var(--main-color);
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    font-size: 13px;
    font-weight: bold; 
    opacity: .5;
    cursor: pointer;
  } 
  .fonts {
  /*   display: flex; */
    select{
     
      background-color: rgba(226, 226, 226, 0.69);
      color: #666666;
      width: 160px;
      padding: 8px;
      border-radius: 5px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      outline: none;
      font-size: 16px;
      font-weight: 600;
      option {
        font-weight: normal;
        display: block;
        white-space: pre;
        min-height: 1.2em;
        padding: 0px 2px 1px;    
        &:hover{
          color:var(--main-color);
        }
      }
    }
  }
/*button toggle dark mood*/
.dark-mode-toggle {
  position: absolute;
  z-index: 100;
  bottom: -14em;
  left: 0em;
  color: var(--foreground);
  border: 2px solid currentColor;
  padding: 4px;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  @media (max-width: 576px){
    bottom: -15em;
  }
  svg {
    position: relative;
  }
}

.btn-group {
  margin: 2em 0;
  display: relative;
}

.btn {
  padding: 1em 2em;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  line-height: 1;
}

.btn + .btn {
  margin-left: 1em;
}

.btn-secondary {
  background: var(--foreground);
  color: var(--background);
  // border: currentColor solid 2px;
}

.btn-accent {
  background: var(--clr-accent);
  color: var(--foreground);
}

.btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: var(--foreground) 2px solid;
  left: -4px;
  top: 4px;
  border-radius: inherit;
  z-index: -1;
}
/*button toggle dark mood*/
  .support-us-mo {
    display: none !important;
    @media (max-width: 576px){
      display: block !important;
    }
    h2{
    font-size: 17px;
    color: #333;

      }

  }
  .social {
    text-align: center;
    a{
      padding: 10px;
     
      border-radius: 5px;
      
      text-decoration: none;
      cursor: pointer;
      i{
        color: white;
       
      }
      small{
        color: white;
        text-transform: uppercase;
      }
      &.fb{
        background-color: #3b5998;
      }
      &.twe{
        background-color: #55acee;
      }
      &.insta{

        background-color:#e4405f;
      }
    
    &.linkd{
      background-color:#004182;
    }
  }
  @media (max-width: 576px) {
    display: block;
    margin-top: 2em;

  }
}
&:not(:last-of-type):after {
  content: "";
  position: absolute;
  top: 23%;
  left: 11px;
  z-index: 1;
  width: 166px;
  height: 1px;
  background: #dcdcdc;
}
}

}
.reset-option{
  padding: .75rem 1.25rem;
  display: inline-block;
  border: none;
  transition: all .3s;
  letter-spacing: .15rem;
  margin: auto;
  display: block;
  padding: 12px;
  color: #fff;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  width: 160px;
&:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $colorWarning;
  left: 0;
  bottom: 0;
 z-index: -2;
 border-radius: 10px;

}
&::before{
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  left: 0;
  bottom: 0;
  background-color: darken($colorWarning, 15%);
  transition: all .3s;
  border-radius: 10px;
  z-index: -1;
}
&:hover {
  color: #fff;
  &:before{
    width: 100%;
  }
}
}

}
/*End Setting-box*/

/*Start nav-bullets*/
.nav-bullets {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  z-index: 999;
  @media (max-width: 576px) {
display: none !important;
  }
  .bullet{
    width: 15px;
    height: 15px;
    border: 3px solid var(--main-color);
    margin: 15px auto;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    &:hover .tool-tip{
      display: block;
    } 
    &:hover{
      background-color: #ddd;
    }
    .tool-tip{
      position: absolute;
      width: 100px;
      background-color: var(--main-color);
      color: #fff;
      right: 32px;
      top: -6px;
      padding: 6px 13px;
      border-radius: 4px;
      cursor: default;
      pointer-events: none;
      display: none;

      &::after{
        content: '';
        border-style: solid;
        border-width: 8px;
        border-color: transparent transparent transparent var(--main-color);
        position: absolute;
        height: 0;
        width: 0;
        right: -16px;
        top: 0px;
        transform: translateY(50%);

      }
    }
  }
}
/* End nav-bullets*/

/*start landig page*/
.landing-page {
  min-height: 100vh;
  background-image: url("../img/001.jpg");
  background-size: cover;
  transition: .5s;
  .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    .header {
      position: relative;
      z-index: 2;
      color: aliceblue;
      display: flex;
      padding: 10px;
      .logo {
        width: 300px;
        padding: 15px;
        font-weight: bold;
        font-size: 23px;
        small{
          color: var(--main-color);;
        }
      }
      .links-container{
        width:100%;
        text-align:right;
        .links {
          list-style: none;
          padding-left: 0;
          width: 100%;
          text-align: right;
          li {
            display: inline-block;
            margin-left: 10px;
            i{
              display: none;
              &.light{
                display: inline-block;
                margin-right: 2px;
                color: var(--main-color);
                font-size: 19px;
              }
            }
          }
          a {
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
            transition: 0.5s ease-in-out;
            &.active,
            &:hover {
              color: var(--main-color);
            }
          }
          hr{
            display: none;
          }
        }
        .toggle-menu{
          border: none;
          background: none;
          width: 40px;
          cursor: pointer;
          margin-top: 1.5em;
          display: none;
          position: relative;
          &.menu-active::before{
            content: '';
            border-width: 10px; 
            position: absolute;
            border-width: 10px;
            border-style: solid;
            bottom: -9px;
            left: 28%;
            border-color: transparent  transparent #fff transparent ;
           }
          &:focus{
            outline: none;
          }
          span{
            display: block;
            /* color: #fff; */
            /* width: 100%; */
            background: #fff;
            height: 3px;
            margin-bottom: 4px;
        
          }
        }
      }

    }
  }
  .introduction {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #fff;
    text-align: center;
    width: 90%;
    @media (max-width: 991px) {
      top: 70%;
    }
    h1 {
      font-size: 1.5em;
      margin: 0 0 9px;
      span {
        color: var(--main-color);
      }
    }
    line-height: 2;
    font-size: 18px;
    margin: 0;
  }
}

/*meadia*/
@media (max-width: 991px)  {
  .landing-page {
    .overlay {
      .container {
        z-index: 1000;
        position: relative;
        .header{
          .links-container {
            .links{
             display: none;
              &.open{
                background-color:#dfdfdf;
                display: inline-block;
                position: absolute;
                right:  0px;
                top: 50px;
                width: 27%;
                border-radius: 4px;
                text-align: left;
                li{
                  display: block;
                  margin: 10px;
                }
                i{
                  color: red;
                  margin-right: .5em;
                  font-size: 20px; 
                  display: inline-block;
                }

                li a{
                  color: rgb(2, 0, 0) ;
                  transition: .7s ;
                  &.active {
                    color: #b10808;
                  }
                  &:hover {
                    color: #968c8c;
                  }
                  
                }    
              }
              hr{
                display: block;
              } 
            }
            .toggle-menu{
              display: inline-block;
            }
          }

        }
      }
    }
  }

}
@media (max-width: 767px)  {
  .landing-page {
    .overlay {
      .container {
        .header{
          .links-container {
            .links{
             display: none;
              &.open{
                left: 68%;
                width: 32%;
                li{
                  display: block;
                  margin: 10px;
                }
                li a{
                  color: rgb(2, 0, 0) ;
                  font-weight: bold;
                  transition: .4s ;
                  &:hover {
                    color: #3d3737;
                    padding-left: 2px;;
                  }
                }

              }
              hr{
                display: block;
              }
            }
            .toggle-menu{
              display: inline-block;
            }
          }

        }
      }
    }
  }
}


@media (max-width: 576px) {
  .landing-page {
    .overlay {
      .container {
        .header{
          .links-container {
            .links{
             display: none;
              &.open{
                left: 47%;
                width: 50%;
                li{
                  display: block;
                  margin: 10px;
                }
                li a{
                  color: rgb(2, 0, 0) ;
                  font-weight: bold;
                  transition: .4s ;
                  font-size: 17px;
                  &:hover {
                    color: #3d3737;
                    padding-left: 2px;;
                  }
                }

              }
              hr{
                display: block;
              }
              
            }
            .toggle-menu{
              display: inline-block;
            }
          }

        }
      }
    }
  }
}




/*End landig page*/
/* Start about us */

.about-us{
  padding-top: 50px;
  padding-bottom: 50px;
  .container {
/* display: flex;

 */ 
 .flex {
   display: flex;
   @media (max-width: 575px) {
     display: block;
   }
  .info-box{
    flex: 1;
    padding:30px;
    h2{
      font-weight: bold;
      font-size:30px;
      color: var(--main-color);
      margin:0 0 10px;
    }

    p{
      line-height: 1.8;
      color: #777;
      margin: 0;
    }

  }
  
  .image-box{
    flex: 1;
    text-align: center;
    img {
      width: 250px;
      margin-top: 3em;
    }
  }
 }

}
}
// media 

@media (max-width: 767px) {
  .about-us {
    display: block;
    text-align: center;
    .info-box{
      flex: none;
    }
    .imgs-box{
      flex: none;
    }
  }
}

/* ENd about us */

/* Start slills*/
.skills{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
  h2{
    font-weight: bold;
    font-size:30px;
    color: var(--main-color);
    margin:0 0 50px;
    text-align: center;
  }
section {
  display: flex;
  @media (max-width: 575px) {
    margin-top: -31px;
  }
  .main-boxs {
    width: 50%;
    @media (max-width: 575px) {
      width: 100%;
    }
    .skill-box {
      background: #fff;
      display: flex;
      padding: 6px;
      margin: 15px;
      margin: 15px;
      @media (max-width: 575px) {
        
      }
      .skill-name{
        position: absolute;
        width: 0px;
        color: #ffffff;
        z-index: 9999;
        margin-left: 3em;
        font-weight: bolder;
        /* right: -4px; */
        /* left: 8em; */
        margin-top: 2px;
        @media (max-width: 767px) {
          margin-left: 1em;
      }
      }
      .skill-progress {
        height: 30px;
        width: 100%;
        background: #f9f9f9;
        /* border-radius: 5px; */
        position: relative;
        overflow: hidden;
        > SPAN{
          position: absolute;
          left: 0;
          top: 0;
          width: 0%;
          height: 100%;
          border-radius: 5px;

          transition:all 1s; 
          small {
              font-weight: bold;
              color: #fff;
              position: absolute;
              right: 0;
              top: 5px;
  
          }
        }
      }
    }
  }
  .img {
    flex: 1;
    position: relative;
    img {
      width: 85%;
      height: 142%;
      margin-left: 6em;
      position: absolute;
      top: -25%; 
      @media (max-width: 575px) {
        display: block
      }
      @media (max-width: 767px) {
        width: 89%;
        height: 96%;
        margin-left: 4em;
        position: absolute;
        top: 1%;
      }
    }
  }
}

    }

  
  
  
/* End slills*/
/*Start Gallery*/
.gallery{
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  h2{
    font-weight: bold;
    font-size:30px;
    color: var(--main-color);
    margin:0 0 50px;
    text-align: center;
  }

  .imgs-box{
    text-align: center;
    img {
      width: 200px;
      padding: 3px;
      background: #f6f6f6;
      border: 2px solid #ccc;
      margin: 5px;
      cursor: pointer;
      @media (max-width: 575px) {
        width: 325px;
      }
      &:hover {
        border-radius: 5px;
        border: 2px solid rgb(97, 1, 1);
        border-color: rgb(31, 1, 1);
        transition: 1s ease-in-out ;
      }
    }
  }
}
/*ENd Gallery*/


/*Start TimeLine*/

.timline{
  padding-top: 50px;
  padding-bottom: 50px;
  background: #eee;
  h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 50px;
    text-align: center;
  }
  .timeline-content{
    position: relative;
    overflow: hidden; // use with flot
    &:before{
      position: absolute;
      content: '';
      width: 2px;
      height: 100%;
      background-color: var(--main-color);
      left: 50%;
      margin-left: -1px;
      top: 0;
      @media (max-width: 767px) {
        display: none;
      }
    }
    .year{
      margin: 20px auto;
      width: 50px;
      background: var(--main-color);
      position: relative;
      z-index: 2;
      border-radius: 4px;
      text-align: center;
      color: #fff;
      padding: 2px 5px ;
      font-weight: bold;
      @media (max-width: 767px) {
        margin: 20px 18px;
      }
    }
    .left,.right{
      width: calc(50% - 25PX);
      margin-bottom: 40px;
      position: relative;
      @media (max-width: 767px) {
        width:100%;
        margin-bottom: 20px;
      }
      .content{
        padding: 20px;
        background-color: #fff;
        @media (max-width: 767px) {
          &:after {
            content: '';
            border-style: solid;
            border-width: 10px;
            border-color: transparent transparent #ffff transparent;
            position: absolute;
            height: 0;
            width: 0;
            left: 48.2%;
             text-align: center; 
            top: -20px;
            @media (max-width: 767px) {
              left: 7%;
            } 
        }
        h3{
          font-weight: bold;
          color: var(--main-color);
          margin: 0 0 10px;
        }
        p{
          color: #666;
          margin: 0;
          line-height: 1.6;
        }
        
      }

    }  
    }

    .left{
      float: left;
      &:before{
        content: '';
        width: 14px;
        height: 14px;
        background-color: #fff;
        border: 3px solid var(--main-color);
        position: absolute;
        right: -35px;
        border-radius: 50%;
        top: 20px;
     @media (max-width: 767px) {
          display: none; 
          }
        } 
        }
        .content{
          &:before{
            content: '';
            border-style: solid;
            border-width: 10px;
            border-color: transparent transparent transparent #fff;
            position: absolute;
            height: 0;
            width: 0;
            right: -20px;
            top:20px;
            @media (max-width: 767px) {
              display: none; 
            }
          }
      }
  
    .right{
      float: right;
      &:before{
        content: '';
        width: 14px;
        height: 14px;
        background-color: #fff;
        border: 3px solid var(--main-color);
        position: absolute;
        left: -35px;
        border-radius: 50%;
        top: 20px;
      }
      .content{
        &:before {
          content: '';
          border-style: solid;
          border-width: 10px;
          border-color: transparent  #fff transparent transparent;
          position: absolute;
          height: 0;
          width: 0;
          left: -20px;
          top:20px;
        }
    }
    
  }
}
}

/*END TimeLine*/
/* What Clint Says*/
.testim {
  background: url(../img/keyboard2.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 500px;
  position: relative;
  text-align: center;
   .t-overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: aliceblue;
    background-color: rgba(0, 0, 0, .8);
     .container {
      padding-top: 6em;
      h2 {
        font-size: 23px;
        margin-top: 2em;
      }
      .slider{
div { 
  p {
    line-height: 1;
    font-size: 18px;
    color: #9fa7ae;
    .q-o{
      position: relative;
      &::before {
        content: ",,";
        color: #18BB9E;
        font-size: 25px;
        position: absolute;
        margin: -33px 0 0px -8px;
      }
      &::after {
        content: ",,";
        color: #18BB9E;
        font-size: 25px;
        position: absolute;
        top: 26%;
      }
    }
  }
  span {
    display: block;
    color: #18BB9E;
    font-size: 20px
  }
  > div{
    display: none !important;
  }
  &.active{
    display: block !important;
  }
}
      }
     }


}


}
/* What Clint Says*/
/*Start Fet*/
.features{
  padding-top: 80px;
  padding-bottom: 80px;
  h2 {
    font-weight: bold;
    font-size:30px;
    color: var(--main-color);
    margin:0 0 60px;
    text-align: center; 
  }
  .container {
   
  .feat-box{
    width: calc(97% / 3);
    float: left;
    text-align: center;
    margin-bottom: 15px;
    margin-left: 1%;
    border-radius: 5px;
    background: #f9f9f9;
    @media (max-width: 991px) {
      width: calc(94% / 2);
/*     margin-bottom: 20px;
    margin-left: 20px; */
    }
    @media (max-width: 557px) {
      width: 100%;
    }
    .svg{
      padding-top: 10px;

    }
    h4 {
      font-size: 22px;
      margin: 15px 0 40px;
      position: relative;
      &::before{
      content: '';
      position: absolute;
      width: 40px;
      height: 3px;
      background: var(--main-color);
      left: 50%;
      margin-left: -20px;
      bottom: -22px;
      }
    }
    p{
      width: 80%;
      margin: 0 auto;
      line-height: 1.6;
      color: #706f6f;
      margin-bottom: 20px;
      @media (max-width: 767px) {
        margin-bottom: 9px;
      }
    }
  }
}
}
/*Start features*/
/*Start testimonials*/
.testimonials{
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;

  &::before{
    content: '';
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    height: 100%;
    z-index: -1;
  }
  &:after{
    content: '';
    width: 50%;
    position: absolute;
    top: 0;
    right:0;
    background-color:#333;
    height: 100%;
    z-index: -1;
  }
  h2{
    font-weight: bold;
    font-size:30px;
    color: #fff;
    margin:0 0 60px;
    text-align: left; 
    position: relative;
    z-index: 2;
    @media (max-width: 767px){ /* medium Devises => Tablets*/
      text-align: center;
  }
}

.boxes{
  display: flex;
  @media (max-width: 767px){ /* medium Devises => Tablets*/
    display: block;
  }
  .ts-box{
    position: relative;
    z-index: 2;
    flex: 1;
    background: #fff;
    padding: 20px;
    font-size: 22px;
    border-radius: 5px;
    @media (max-width: 767px){ /* medium Devises => Tablets*/
      margin: 12px 0px;
      /* width: 100%; */
    }
    &:not(:last-of-type){
      margin-right: 1%;
      @media (max-width: 767px){ /* medium Devises => Tablets*/
        margin: 12px 0px;
      }
    }
    > p{
      margin: 0 0 20px;
      line-height: 1.5;
      font-size: 18px;
      color: #707070;
      font-style: italic;
    } 
    .preson-info {
      display: flex;
      margin-top: 13px;
      @media (max-width: 991px){ /* medium Devises => Tablets*/
        text-align: center;
        display: block;
      }
      img{
        width: 63px;
        padding: 1px;
        border: 2px solid #d8d8d8;
        margin: 5px;
        border-radius: 50%;
        margin-right: 1em;
    }
      }
      h4{
        margin: 22px 0 3px;
        font-size: 15px;
        font-weight: bold;
      }
      p{
        color: #777;
        margin: 0;
        font-size: 14px;
      }
    }

  }
}
  

/*EDN testimonials*/

/*Start Contact*/
.contact{
  min-height: 400px;
  background-image: url(/img/mmm9.png);
  background-size: cover;
  padding-top: 74px;
  padding-bottom: 0;
  /* margin-bottom: 32px; */
  position: relative;
  @media (max-width: 767px) {
    margin-bottom: 32px;

  }
  .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(249, 249, 249,0.6);

    /* background-color: rgb(255 255 255 / 60%); */
  }
  .container{
    position: relative;
    z-index: 2;
    @media (max-width: 767px) {
      width: 80%;
    }
  }
  h2{
    font-weight: bold;
    font-size:30px;
    color: var(--main-color);
    margin:0 0 60px;
    text-align: center; 
  }
  form{
    max-width: 800px;
    margin: auto;

    .left{
      float:left;
      width: 47.5%;
    }
    .right{
      /* flex:1 */
      float:right;
      width: 47.5%;
    }
    @media (max-width: 767px){ /* medium Devises => Tablets*/
      .left,.right {
        float: none;
        width: 100%;
      }
    }
    input:not([type="submit"]),textarea{
      display: block; 
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border:1px solid #ccc;
      background-color: rgba(218,218,218, 0.19);
      border-radius: 4px;
      &:focus{
        outline: 1px solid var(--main-color);
      }
      &:focus::-webkit-input-placeholder {
        opacity: 0;
        transition: .3s;
      }
    }
    input[type="submit"] {
      @media (max-width: 767px) {
        margin-bottom: 20px;
      }
    }
    input{height: 20px;}
    textarea{height: 135px;}
    input[type="submit"]{
      padding: 19px;
      width: 106%;
      border-color: transparent;
      background-color: var(--main-color);
      color: #fff;
      cursor: pointer;
      line-height: 0.3;
      border-radius: 4px;
    }

  }
}
/*End Contact*/


/*start support-us*/

/*End support-us*/
/*Satrt footer*/

/*End footer*/
.footer {
  background-color: #333;
  color: #fff;

  @media (max-width: 767px) {
    margin-top: -30px;
  }
.container{
  display: flex;
  @media (max-width: 576px) {
    display: block;
  }
  .support-us{
    @media (max-width: 576px) {
      display: none;
    }
    h2{
    font-size: 17px;
    color: var(--main-color);
    text-align: left;

    @media (max-width: 796px) {
      text-align: center;
    }
    }
    .social {
      display: flex;
      flex-wrap: wrap;
      a{
        padding: 10px;
        margin: 5px;
        border-radius: 5px;
        text-decoration: none;
        cursor: pointer;
        @media (max-width: 991px) {
          transition: 0.6s;
        }
        i{
          color: white;
        }
        small{
          color: white;
          text-transform: uppercase;
        }
        &.fb{
          background-color: #3b5998;
          &:hover{
            background-color: #004182;
            box-shadow: -9px -3px 20px 4px rgba(72, 1, 185, 0.175);  
          }
        }
        &.twe{
          background-color: #55acee;
          &:hover{
            background-color:#0264af;
            box-shadow: -9px -3px 20px 4px rgba(24, 133, 235, 0.175);  
          }
        }
        &.insta{
          background-color:#e4405f;
          &:hover{
            background-color: #850617;
            box-shadow: -9px -3px 20px 4px rgba(233, 68, 117, 0.175);  

          }
        }
      
      &.linkd{
        background-color:#004182;
        &:hover{
          background-color: #022547;
          box-shadow: -9px -3px 20px 4px rgba(14, 18, 235, 0.175);  
        }
      }
    }
    @media (max-width: 576px) {
      display: inline-grid;
    }
  }

}
.created {
  flex: 1;
  text-align: right;
  margin-top: 3.5em;

  @media (max-width: 797px) {

  }
  @media (max-width: 576px) {
text-align: center;
padding: 10px;

  }
span {
  a{
    i
    {
      color: darkred;
      &:hover {
        color: red;
      }
    }

  }
}
}
}
}

/*Start Go UB*/
#totp{
  position: fixed;
  bottom: 10px;
  background: var(--main-color);
  color: #fff;
  border-radius: 7px;
  padding: 2px;
  right: 0;
  cursor: pointer;
  z-index: 9999;
 
}
/*Start Go UB*/
/*Start loding page*/
.loding-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center;
  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 3s infinite ease;
    .loader-inner {
      vertical-align: top;
      display: inline-block;
      width: 100%;
      background-color: #fff;
      animation: loader-inner 2s infinite ease-in;
    }
  }
}
@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}
/*Start loding page*/

/*Dark mood*/
:root {
  /* --clr-light: #fdffc4; */
  --clr-dark: #010a08;
  --clr-primary: #dbffa2;
  --clr-secondary: #c3fcf2;
  --clr-accent: #ff7750;

  --foreground: var(--clr-dark);
  --background: var(--clr-light);

/*   --ff-title: "Playfair Display", serif;
  --ff-body: "Assistant", sans-serif; */
}
.darkmode {
  --clr-light: #fdffc4;
  --clr-dark: #010a08;
  --clr-primary: #202302;
  --clr-secondary: #00100d;
  --clr-accent: #ff7750;

/*   --foreground: var(--clr-light); */
  --background: var(--clr-dark);
  .test {
    background-color:  #000000; 
  }
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--ff-body);
  font-size: 18px;
  line-height: 1.6;
}
/*Dark mood*/
/*Frame work*/
.clearfix {
  clear: both;
}
.hr1 {
  width: 99%;
  border: 0.5px solid #e2e2e2;
}

/*Stat Grid System*/

@media (min-width: 576px){ /* Small Devises => lanscape phonse*/
  .container {
     max-width: 540px;
  }
}

@media (min-width: 768px){ /* medium Devises => Tablets*/
  .container {
    max-width:720px;
  }
}

@media (min-width: 992px){ /* pc Devises*/
  .container {
    max-width:960px;
  }
}

@media (min-width: 1200px){ /* larg screens */
  .container {
    max-width:1140px;
  }
}
